.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.container-fluid2 {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}
.container-fluid3 {
    padding-left: 45px;
    padding-right: 45px;
    width: 100%;
}
.container-fluid.header {
    padding-left: 45px;
    padding-right: 45px;
}

.color-purple {
    color: #1e1e65!important;
}

.bg-purple {
    background-color: #1e1e65!important;
    color: #fdba00;
}

.bg-yellow {
    color: #1e1e65;
    background-color: #fdba00!important;
}
.bg-light-yellow {
    color: #1e1e65;
    background-color: #ffd665!important;
}

.color-yellow {
    color: #fdba00;
    background-color: transparent!important;
    font-weight: 500;
}

.color-light-yellow {
    color: #ffd665;
    background-color: transparent!important;
    font-weight: 500;
}

.card.br {
    border-radius: 12px;
}

.container.center {
    text-align: center;
}
main.container {
    margin-bottom: 110px;
}
.header-logo {
    width: 150px;
    background: transparent;
    margin: 0 auto;
}

.navbar-custom.right {
    padding: 10px 25px;
}

.navbar-custom.right i {
    font-size: 35px;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-wrapper {
    margin: 0 auto;
    float: none!important;
}

/**Footer **/
.page-footer.yellow {
    background: #ffd665!important;
}

.page-footer.purple {
    background: #1e1e65!important;
}
.page-footer {
        padding-top: 0px;
    }

.page-footer.purple .logo {
    color: white!important;
}

.page-footer.yellow .logo {
    color: #1e1e65!important;
}


.page-footer .logo {
    display: inline-block;
    font-weight: 600;
    }

.page-footer .footer-links {
    display: inline-block;
}
.page-footer .footer-nav {
    /* display: inline-block; */
    padding-left: 10px;
    padding-right: 10px;

}

.page-footer .footer-copyright {
    padding: 10px 10px;
}

.page-footer .footer-links {
    width: 75%;
    text-align: center;
}

.page-footer .footer-nav li {
    display: inline-block;
    padding: 5px;
    margin-left: 8%;
}

.page-footer.yellow .footer-nav li a {
    color: #1e1e65!important;
    font-weight: 500;
}
.page-footer.purple .footer-nav li a {
    color: white!important;
    font-weight: 500;
}
.page-footer .footer-socials {
    display: inline-block;
    text-align: center;
}
.page-footer .footer-socials li {
    display: inline-block;
}
.page-footer .footer-socials li img {
    width: 25px;
}

/** Input Control **/
.yellowish-control {
    border: 1px solid #9e9e9e!important;
    border-radius: 5px!important;
    padding: 5px!important;
    height: auto!important;
    width: 100%;
    box-sizing: border-box!important;
    max-width: 100%;
}

textarea.yellowish-control {
    height: 120px!important;
}

.yellowish-control:focus {
    border-bottom-color: #1e1e65!important;
}

.yellowish-btn {
    background-color: #fdba00;
    color: #1e1e65;
}

.yellowish-btn:hover {
    background-color: #ffd665;
}
.yellowish-btn:focus {
    background-color: #ffd665;
}
.yellowish-btn-block {
    width: 100%;
}
.textarea.editable {
    overflow: auto;
    color: #1e1e65;
    border: 1px solid #9e9e9e;
    height: 70px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.card .social-icon li {
    display: inline-block;
    padding: 20px;
}

.card .social-icon li img {
    width: 90px;
}

.card.products {
    border-radius: 10px;
    border-top-right-radius: 0;
    height: 160px;
}
.card.products.pop-up {
    height: auto;
    min-height: 300px;
    border: 3px solid #8f66ff;
}

.products.pop-up .card-content-body tr {
    border-bottom: 0px;
}

.products.pop-up .card-content-body td {
    padding: 0px;
}

.products.pop-up canvas#chart {
    height: 120px!important;
    width: 300px!important;
}

.product-footer {
    margin-bottom: -30px!important;
    margin-top: 20px!important;
}

.products .footer-icon {
    background: #8f66ff;
    color: white;
    padding-left: 45px;
    padding-top: 5px;
    padding-right: 45px;
    border-top-right-radius: 15px;
    font-size: 14px;
    border-top-left-radius: 15px;
}
.btn-social {
    margin-bottom: 10px;
}
.btn-social.facebook {
    background: #3b5998;
    width: 100%;
}

.btn-social.google {
    background: #ea4334;
    width: 100%;
}


.carousel.signup {
    border: 1px solid #9E9E9E;
    border-radius: 50%;
    height: 550px!important;
    top: -135px;
}


li.indicator-item {
    border: 1px solid #1e1e65;
    width: 17px!important;
    height: 17px!important;
}

li.indicator-item.active {
    background-color: #1e1e65!important;
}

.products-popup-wrapper {
    width: 350px;
    display: block;
    transform-origin: 0px 100% 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
    position: absolute;
    z-index: 9999999;
}

.dropdown-content.bg-light-yellow {
    border-radius: 10px;
    border-top-right-radius: 0;
    color: #1e1e65!important;
    width: 280px!important;
    top: 55px!important;
    /* left: 1115px!important; */

}

.dropdown-content.bg-light-yellow li a  {
    font-size: 15px;
    color: inherit;
    display: block;
    line-height: 2;
    padding: 14px 15px;
}
.dropdown-content.bg-light-yellow li {
    color: #1e1e65!important;
}
.dropdown-content.bg-light-yellow li:hover, .dropdown-content.bg-light-yellow li.active {
    background-color: #1e1e65;
    color: #fdba00!important;
}

.dropdown-content.bg-light-yellow li i.menu-i {
    background-color: white;
    font-size: 25px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 1;
    padding: 5px;
    vertical-align: middle;
    margin: 0 15px 0 0;
}