<template name='AboutUs'>
        <main class="container">
            <div class="contents">
                <div class="paragraph">
                    <h5 class="color-yellow">The Dream</h5>
                    <p class="color-purple"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit.</strong> Officiis accusamus dolorum ut illum vero nostrum, quis voluptas nam repellat autem ea facere quaerat architecto temporibus ratione. Tempore at omnis labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum doloribus perferendis nulla suscipit dolores non eum aspernatur maiores beatae libero reiciendis, alias porro repellat sint accusantium voluptates iste repellendus at.</p>
                </div>

                <div class="paragraph">
                    <h5 class="color-yellow">The Company</h5>
                    <p class="color-purple">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis accusamus dolorum ut illum vero nostrum, quis voluptas nam repellat autem ea facere quaerat architecto temporibus ratione. Tempore at omnis labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sed molestiae deleniti officia nemo voluptates, numquam quisquam animi quaerat repellendus ipsam nostrum! Officia, sequi quibusdam? Vero ducimus nemo officiis fugiat?</p>

                </div>
            </div>
        </main>
</template>