<template name='EcommerceContactForm'>
        <main class="container content">
            <div class="row">
                <div class="form-wrapper col l6 s12">
                    <h6 class="" style="font-weight:500;">We provide e-commerce websites with market analytics customer insights and pricing intelligence. </h6>
                    <p>Interested in a partnership? Contact us!</p>
                    <form class="">
                        <input type="text" class="yellowish-control" id="name" placeholder="Name">
                        <input type="email" class="yellowish-control" id="email" placeholder="Email">
                        <input type="text" class="yellowish-control" id="name" placeholder="Company">
                        <input type="text" class="yellowish-control" id="name" placeholder="Topic">
                        <textarea class="yellowish-control">Message</textarea>
                        <button class="btn yellowish-btn yellowish-btn-block waves ">Send</button>

                    </form>
                </div>
            </div>     
        </main>
</template>