<template name='Explanation'>
        <div>
            <h2>O Yellowish aumenta seu poder de compra e sua segurança.
                    Nós te ajudamos a…</h2>
            <br>
            <ul>
                <li>
                    <img src="..." class="img-fluid" alt="Responsive image">
                    <h3>Não cair em fraudes, comprando sempre pelo menor preço e em sites confiáveis.</h3>
                </li>
                <li>
                    <img src="..." class="img-fluid" alt="Responsive image">
                    <h3>Guardar e monitorar os produtos que você deseja para comprar quando o preço baixar.</h3>
                </li>
                <li>
                    <img src="..." class="img-fluid" alt="Responsive image">
                    <h3>Nunca mais ter que deixar seu e-mail em sites de compras e acabar cheio de propaganda.</h3>
                </li>
            </ul>
            <br>
            <button href="/signup">Comece Aqui</button> 
        </div>
    </template>