<template name='Footer'>
        <div>
            <span>
            <img src="..." class="img-fluid" alt="Responsive image">
            </span>
            <span>
            <button href="..." class="">About Us</button>
            </span>
            <span>
            <button href="..." class="">Privacy & Terms</button>
            </span>
            <span>
            <button href="..." class="">Help</button>
            </span>
            <span>
            <button href="..." class="">For e-commerce</button>
            </span>
            <span>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
            </span>
        </div>
</template>