<template name='Footer'>
        <div class="footer-copyright">
            <div class="container-fluid">
            <h5 class="logo">yellowish</h5>
            <div class="footer-links">
                <ul id="" class="footer-nav">
                <li><a href="">About Us</a></li>
                <li><a href="">Privacy & Terms</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">For e-commerce</a></li>
                </ul>
            </div>
            <div class="footer-socials">
                <ul class="social-nav">
                    <li><a href=""><img src="images/facebook-round-icon.png"></a></li>
                    <li><a href=""><img src="images/twitter-round-icon.png"></a></li>
                    <li><a href=""><img src="images/youtube-round-icon.png"></a></li>
                    <li><a href=""><img src="images/mail-black-round-icon.png"></a></li>
                </ul>
            </div>
            </div>
          </div>
        <script>
            $(document).ready(function(){
                $('.dropdown-trigger').dropdown();
                $('.carousel.carousel-slider').carousel({
                    fullWidth: true,
                    indicators: true
                });
            });
        </script>
</template>