<template name='HelpForm'>
        <div class="row">
            
            <div class="form-wrapper col l6 s12">
                <h5 class="color-purple center" style="font-weight:500;">Frequently Asked Questions</h5>
                <ul class="collapsible">
                    <li>
                    <div class="collapsible-header">First <i class="material-icons right">filter_drama</i></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                    <li>
                    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                    </li>
                </ul>
                <form class="">
                <input type="text" class="yellowish-control" id="name" placeholder="Name">
                <input type="email" class="yellowish-control" id="email" placeholder="Email">
                <input type="text" class="yellowish-control" id="name" placeholder="Company">
                <input type="text" class="yellowish-control" id="name" placeholder="Topic">
                <textarea class="yellowish-control">Message</textarea>
                <button class="btn yellowish-btn yellowish-btn-block waves ">Send</button>
            </form>
            </div>
        </div>
 </template>