<template name="PopUpNav">
    <div class="navbar-custom right">
       <div class="menu-bar"> 
        <a class='dropdown-trigger menu' href='#' data-target='menu'><i class="material-icons color-yellow">sort</i></a>
        <ul id='menu' class='dropdown-content bg-light-yellow'>
            <li><a href="#!"><i class="material-icons menu-i">format_list_bulleted</i> Wishlist</a></li>
            <li><a href="#!"><i class="material-icons menu-i">settings</i> Configurations</a></li>
            <li><a href="#!"><i class="material-icons menu-i">notifications</i> Browser Extensions</a></li>
            <li><a href="#!"><i class="material-icons menu-i">help</i> Help</a></li>
            <li><a href="#!"><i class="material-icons menu-i">favorite</i> Invite a Friend</a></li>
        </ul>
    </div>
    </div>
</template>