<template name='PrivacyForm'>
        <div class="row">
           <div class="form-wrapper col l6 s12">
               <div class="card br">
                   <div class="card-content">
                       <h5>Privacy Policy</h5>
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore tenetur repellat aliquid, consequatur recusandae amet reiciendis quod eveniet natus eligendi pariatur assumenda ipsam distinctio sequi delectus! Facilis nulla veritatis natus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, fuga, animi aspernatur aliquid dolorem aperiam commodi earum consequuntur quia itaque quas incidunt! Eius dicta ex, cupiditate quibusdam odit tenetur nulla. lor</p>
                       <h5>Terms of Use</h5>
                       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore tenetur repellat aliquid, consequatur recusandae amet reiciendis quod eveniet natus eligendi pariatur assumenda ipsam distinctio sequi delectus! Facilis nulla veritatis natus. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias, fuga, animi aspernatur aliquid dolorem aperiam commodi earum consequuntur quia itaque quas incidunt! Eius dicta ex, cupiditate quibusdam odit tenetur nulla. lor</p>
                       
                    </div>
               </div>
           </div>
       </div>
</template>