<template name='SignUp2Form'>
        <div class="row">
            <div class="col l5 s12" style="text-align:center;">
                <img src="/images/purple-mark-icon.png">
                <h6 style="font-weight:500;">Pheo Ereda Codaste Sue! Gruex</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos possimus recusandae eos nihil reiciendis laboriosam veniam, est nesciunt quos ea, quisquam sit ullam minima corporis, amet doloremque animi quae at.</p>
                <button class="btn yellowish-btn yellowish-btn-block waves ">Install browswer extension</button>
            </div>
            <div class="col l7 s12">
                    <div class="carousel signup carousel-slider center">
                            <div class="carousel-fixed-item center">
                               <h6 style="font-weight:500;">First Panel</h6>
                                <p >This is your first panel</p>
                            </div>
                            <div class="carousel-item red white-text" href="#one!">
                              <h6 style="font-weight:500;">First Panel</h6>
                              <p >This is your first panel</p>
                            </div>
                            <div class="carousel-item amber white-text" href="#two!">
                              <h6 style="font-weight:500;">Second Panel</h6>
                              <p >This is your second panel</p>
                            </div>
                            <div class="carousel-item green white-text" href="#three!">
                              <h6 style="font-weight:500;">Third Panel</h6>
                              <p >This is your third panel</p>
                            </div>
                          </div>
                                
            </div>
        </div> 
</template>